<p>
    <a routerLink="/admin/products/new" class="btn btn-primary">Add new product+ </a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of products$ | async">
            <td>{{p.payload.val().title}}</td>
            <td>{{p.payload.val().price | currency:'NZD':true}}</td>
            <td><a (click)="editProduct(p)">edit</a></td>
        </tr>
    </tbody>
</table>